/* General styling */

/* Margin alignment */
* {
  margin: 0 auto;
}

/* Font */
body {
  font-family: "Gilroy-Medium", "sans-serif";
  overflow-x: hidden;
}

/* All links */
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* All buttons */
button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #005ae2;
  border-radius: 1.5rem;
  border: 0.5rem solid transparent;
  width: 8.875rem;
  height: 2.75rem;
  padding: 0.75rem 1.5rem;
}

#custom {
  color: #005ae2;
  background-color: #fff;
  border: 0.1rem solid #005ae2;
  width: max-content;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

#select {
  width: 11rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.frame3Buttons {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/* list settings */
.navLinks li {
  list-style: none;
}

.features li {
  list-style-image: url(/assets/icons/checkCircleBlue.svg);
  font-size: 0.9rem;
  font-weight: 500;
}

#features li {
  list-style-image: url(/assets/icons/checkCircleWhite.svg);
  font-size: 0.9rem;
  font-weight: 500;
}

ul {
  padding: 1.4rem;
}

/* Styling special texts (spans, unique links) */
.possibilities {
  color: #005ae2;
}

.urlShortening {
  color: #005ae2;
}

#myUrls {
  color: #005ae2;
}

#ctaLogin {
  color: #005ae2;
}

.scissors {
  color: #005ae2;
}

.pricePerfect {
  color: #005ae2;
}

.consent {
  color: #005ae2;
  position: relative;
  left: -0.9rem;
  font-size: 0.9rem;
}

#agreement {
  font-family: "Gilroy-bold", "sans-serif-bold";
}

.learnMore {
  color: #005ae2;
}

#concise,
#shareable {
  font-family: "Gilroy-Bold", "sans-serif-bold";
}

/* Styling the icons */
.linkIcon {
  width: 4rem;
  height: 4rem;
}

/* Hero section header  */
.header {
  display: flex;
  align-items: center;
  gap: 8.75rem;
  padding-top: 1rem;
}

.navLogo {
  display: flex;
  padding: 0.5rem;
  gap: 0.5rem;
}

.navLinks {
  display: flex;
  align-items: flex-start;
  gap: 2.5rem;
}

.ft {
  position: relative;
}

.ft::after {
  content: url(/assets/icons/chevron-down.svg);
  position: absolute;
  top: -15%;
  left: 100%;
}

.ctaLinks {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.ctaLogin {
  font-size: 1rem;
  font-family: "Gilroy-SemiBold";
}

/* Frame 1 (Hero Section) */

.heroSectionContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.heroHeaderBox {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.heroHeading {
  color: #141414;
  text-align: center;
  font-size: 3rem;
  font-family: "Gilroy-Bold", "sans-serif-bold";
  line-height: 6rem;
}

.blueMarkerLine {
  margin-top: -5rem;
}

.heroSubHeading {
  text-align: center;
}

.heroMainCta {
  display: flex;
  align-items: center;
  gap: 3.5rem;
}

.illustrationBox {
  /* layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  padding: 2.5rem 3.75rem;
  width: 35rem;
  height: 6rem;

  position: relative;
  left: 7rem;

  /* border */
  border-radius: 24px;
  border: 0.1rem solid #005ae2;
  background: rgba(254, 254, 254, 0.1);
  backdrop-filter: blur(106px);
}

.linksIllustration {
  display: flex;
  margin-right: 20rem;
}

.illustrationBoxText {
  text-align: center;
  margin-left: 5rem;
  font-size: 0.85rem;
  font-family: "Gilroy-medium", "sans-serif-medium";
}

/* Styling the backgrounds */
.hero {
  background-image: url(/assets/backgrounds/aurora.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  max-height: 51rem;
}

.teardropBg {
  max-width: 13.7rem;
  max-height: 13rem;
  position: relative;
  bottom: 14.2rem;
  left: -5rem;
  z-index: -1;
}

.geometricBg {
  position: relative;
  bottom: 14.2rem;
  left: -5rem;
}

.frame4 {
  background-image: url(/assets/backgrounds/aqua.svg);
  background-size: cover;
  background-repeat: none;
  height: 72vh;
  width: 100vw;
}

.frame5 {
  background-image: url(/assets/backgrounds/aqua2.svg);
}

.frame6 {
  background-image: url(/assets/backgrounds/aqua5.svg);
  background-size: cover;
  background-repeat: none;
  height: 72vh;
  width: 100vw;
}

.footer {
  background-image: url(/assets/backgrounds/aqua4.svg);
}

/* Frame 2 Styling */
.frame2Top {
  display: flex;
  padding-top: 5rem;
  padding-bottom: 3rem;
  gap: 0.5rem;
  background-color: #f9fbfd;
}

.frame2Header {
  padding-left: 10rem;
}

.frame2TopMetrics {
  display: flex;
  align-self: baseline;
  gap: 2.4rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

.topMetricsText {
  font-size: 2rem;
  font-weight: bold;
}

.topMetricsNumber {
  color: #141414;
  margin-top: 1rem;
  font-size: 0.9rem;
  /* padding-top: 1rem; */
}

.frame2Bottom {
  display: flex;
  gap: 3rem;
  padding-top: 4rem;
  padding-left: 2rem;
  padding-right: 3rem;
  padding-bottom: 2rem;
}

.frame2BottomRight {
  display: flex;
  gap: 1rem;
}

.bottomRightCol1 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-bottom: 3rem;
  min-width: 20.5rem;
}

.bottomRightCol2 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-bottom: 3rem;
  min-width: 20.5rem;
  padding-right: 5rem;
}

.bottomRightCol1 img,
.bottomRightCol2 img {
  margin-bottom: 1rem;
}

.bottomLeft {
  display: flex;
  gap: 2rem;
}

.bottomLeftIcon {
  margin-left: 7rem;
  margin-top: 1rem;
}

.bottomLeftText {
  display: flex;
  flex-direction: column;
  min-width: 25rem;
  margin-left: -2.5rem;
}

.bottomLeftText h1 {
  margin-left: 1rem;
}

/* Frame 3 Styling */

.frame3 {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.headerWithIcon {
  display: flex;
  font-size: 2rem;
  font-family: "Gilroy-bold", "sans-serif-bold";
}

.frame3LineIcon {
  margin-right: 0.5rem;
}

.frame3Heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  margin-bottom: 1.5rem;
}

small {
  text-align: center;
  font-size: 15px;
}

.card {
  display: flex;
  cursor: pointer;
}

.card1 {
  border: 0.4px solid #005ae2;
  padding: 1.5rem 6rem 3rem 3.5rem;
  height: 20rem;
  width: 15rem;
  margin-top: 3rem;
  border-radius: 0.7rem;
  margin-right: 3.5rem;
  z-index: -1;
}

.card2 {
  background-color: #1e3448;
  padding: 2rem 5rem 9rem 3.5rem;
  height: 20rem;
  width: 13.5rem;
  color: #ffff;
  border-radius: 0.7rem;
  position: absolute;
  right: 29.05rem;
}

.card3 {
  border: 0.4px solid #005ae2;
  padding: 1.5rem 4rem 3rem 7rem;
  height: 20rem;
  width: 15.5rem;
  margin-top: 3rem;
  border-radius: 0.7rem;
  margin-left: 8.5rem;
  z-index: -1;
}

.title {
  font-size: 1.4rem;
  font-weight: 100;
  font-family: "Gilroy-regular", sans-serif;
  margin-bottom: 1.5rem;
}

.title2 {
  margin-top: 1rem;
}

.fee {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Gilroy-bold", "sans-serif-bold";
  margin-bottom: 1.5rem;
}

.description {
  font-size: 1.1rem;
  margin-bottom: 0rem;
}

.card li {
  margin-bottom: 1rem;
}

.container {
  width: max-content;
}

/* Frame 4 Styling */

.form {
  border: 0.2rem solid #fff;
  border-radius: 0.6rem;
  width: 36vw;
  height: 49vh;
  background-color: #fff;
  position: relative;
  top: 5rem;
  display: flex;
  flex-direction: column;
}

.blue::placeholder,
.blue {
  color: #3284ff;
}

.alias,
.dropdown,
.url {
  border: 0.09rem solid #3284ff;
  border-radius: 0.65rem;
}

input,
select {
  border: none;
  outline: none;
  appearance: none;
  background: transparent;
}

.formBox2 {
  display: flex;
  gap: 1rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 3rem;
  font-size: 0.9rem;
  font-family: "Gilroy-regular", sans-serif;
}

.url {
  width: 22rem;
  height: 2.1rem;
  padding: 0.55rem 0.8rem 0.2rem;
  justify-content: center;
  align-items: flex-start;
}

.dropdown {
  width: 9.67rem;
  height: 1.7rem;
  padding: 0.9rem 0.8rem 0.2rem;
  justify-content: center;
  align-items: flex-start;
}

.chevronblue {
  padding-left: 1.6rem;
}

.alias {
  width: 9.67rem;
  height: 1.7rem;
  padding: 0.9rem 0.8rem 0.2rem;
  justify-content: center;
  align-items: flex-start;
}

.trim {
  width: 24rem;
  height: 2.7rem;
  padding: 0.35rem 0.8rem 0.2rem;
  position: relative;
  left: 0.05rem;
  background-color: #005ae2;
  padding-left: 7.7rem;
  font-size: 1rem;
}

.wand {
  padding-right: 7.8rem;
}

/* Frame 5 styling */
.frame5 {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

.faq::before {
  content: url(/assets/icons/line.svg);
  margin-right: 0.5rem;
  margin-top: 0.6rem;
}

.faq {
  font-size: 2.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* ACCORDION */

.accordion {
  width: 50%;
  margin-top: 1rem;
}

.accordion-item {
  border-bottom: 1px solid #dcd9d9;
  transition: border-color 0.3s ease;
  padding: 0.9rem;
}

.accordion-question {
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.9rem;
}

.accordion-answer {
  display: none;
  padding: 0.8rem;
}

.accordion-question.expanded::after {
  content: "-";
}

.accordion-question:after {
  content: "+";
}

.accordion-question:hover {
  border-left: 5px solid #d3e4fe;
  border-right: 5px solid #d3e4fe;
  border-top: 5px solid #d3e4fe;
  border-bottom: 5px solid #d3e4fe;
  background-color: transparent;
}

.accordion-answer:hover {
  border-color: transparent;
}

/* Frame 6 Styling */
.frame6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 45vh;
}

.revolution {
  color: #fff;
  font-size: 2.5rem;
  font-weight: bolder;
}

.start {
  width: 13rem;
  font-size: 0.85rem;
}