/* General styling */
body {
    font-family: 'Gilroy', sans-serif;
}

* {
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    color: #fff;
    background-color: #005AE2;
    border-radius: 2rem;
    border: 0.5rem solid transparent;
    width: 8.875rem;
    height: 2.75rem;
    padding: 0.75rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    list-style: none;
}

/* Hero section header  */
.header {
    display: flex;
    align-items: center;
    gap: 8.75rem;
}

.navLogo {
    display: flex;
    padding: 0.5rem;
    /* align-items: flex-start; */
    gap: 0.5rem;
}

.navLinks {
    display: flex;
    align-items: flex-start;
    gap: 2.5rem;
}

.ctaLinks {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.ctaLogin {
    font-size: 1rem;
    font-family: "Gilroy-SemiBold";
    
}

/* Frame 2 */
.frame2Top {
    display: flex;
}

.footnote {
    display: flex;
    align-items: flex-end;
}


/* Styling the backgrounds */
.frame1heroSection {
    background-image: url(/assets/backgrounds/heroSection.svg);
}

.frame2Top {
    background-color: #F9FBFD;
}

/* Styling special texts (spans) */
.possibilities {
    color: #005AE2;
}

.urlShortening {
    color: #005AE2;
}

#myUrls {
    color: #005AE2;
}

#ctaLogin {
    color: #005AE2;
}

.scissors {
    color: #005AE2;
}

.pricePerfect {
    color: #005AE2;
}

.consentText {
    color: #005AE2;
}

#agreement {
    font-weight: bold;
}